<p>Calcium is necessary to build and maintain a healthy skeleton.</p>
<p>Drinking water that has calcium is good since it is a necessary dietary supplement.</p>
<p>When water has a calcium concentration of less than 10 mg/l, we say it is soft water and in such water soaps lathers easily.<br/>
When water has a calcium concentration of several hundred mg/l, we say it is hard water and such water causes soaps to flake and makes lathering difficult.</p>


