<p>Total hardness can be expressed as the sum of calcium and magnesium concentrations, expressed as mg/l calcium carbonate (CaCO­3).</p>
<p>The total hardness of water is the value that indicates how easy or difficult soap can lather in the water.<br/>
When the total hardness of water is low, the water is referred to as fresh, soft water, containing very low concentrations of calcium and magnesium e.g. rainwater.<br/>
When the total hardness of water is high, the water is referred to as hard water, containing high concentrations of soluble calcium and magnesium, e.g. some groundwater.</p>
