<p>Table salt comprises of a combination of sodium (Na) and chloride (Cl).   On its own, chloride is a negatively charged ion or anion.</p>
<p>High chloride concentrations in water make it taste more salty and cause increased corrosion of metals.</p>
<p>When the chloride concentration is less than 10 mg/l, we know that it is fresh water.<br/>
Higher concentrations of chloride are associated with salt pollution or marine intrusion.</p>
