<p>Potassium is an essential substance of the human diet.</p>
<p>Normal levels of potassium in unpolluted, fresh water are between 2 and 5 mg/l.<br/>
Higher levels are indicative of pollution possibly from runoff from agricultural irrigation, fertiliser-producing industries and even from domestic wastes.</p>
