<p>Magnesium is necessary in the human body and plays an essential part in the functioning of the muscles.  The recommended daily magnesium requirement is 250 mg.</p>
<p>If the magnesium concentration of water is less than 10 mg/l, it can be assumed that the water is fresh and unpolluted.<br/>
Some hard groundwater may have magnesium concentrations of several hundred mg/l.</p>
