<p>Nitrate is an important plant nutrient.<br/>Nitrate is produced during the decaying process of plants as well as animal and human wastes.</p>
<p>The nitrate concentration of fresh, unpolluted water is normally less than 2 mg/l.<br/>
The concentration of nitrates in ground water can be as high as 20 mg/l<br/>
Higher concentrations of nitrate can be indicative of pollution from e.g. agricultural land use activities.</p>
