<p>Sodium is an important dietary constituent, which is necessary to maintain the electrolyte balance in the body.</p>
<p>Sodium concentrations in water can vary from less than 50 mg/l in regions with high rainfall, to 500 mg/l in arid regions.</p>
