<p>Magnesium sulphate is better known as the purgative, “Epsom salts”.</p>
<p>If the sulphate concentration in a water source is less than 10 mg/l, it is an indication that the water source is fresh and unpolluted.<br/>
Higher levels of sulphate in any water source can be indicative of some form of pollution.<br/>
Typical pollution sources are mine drainage and effluent return flows, which can contain sulphate concentrations of as high as 500 mg/l</p>
